@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <cache expires-after="@TimeSpan.FromSeconds(60)">
            UTC Time:@DateTime.UtcNow.ToLongTimeString()
        </cache>
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
